# Node.js dependencies
node_modules/

# .env file (to keep sensitive information secure)
.env

# Logs
logs/
*.log

# Operating system files
.DS_Store  # macOS
Thumbs.db  # Windows

# IDE/editor files
.vscode/
.idea/
